<!-- Header -->
<header class="app-header">
  <!-- Logo and App Name -->
  <div class="logo" (click)="goToHome()">
    <img src="assets/logo.png" alt="Logo" class="logo-img">
  </div>
  
  <!-- Search Bar -->
  <div class="search-container">
    <input type="text" class="search-bar" placeholder="Căutați un loc..." />
  </div>

  <!-- Login Button -->
  <div class="login-container">
    <button class="login-btn" (click)="goToLogin()">Log In</button>
  </div>

  <!-- My profile button -->
  <nav>
    <ul>
      <li *ngFor="let tab of tabs" [class.active]="tab.link === activeTab">
        <!-- Calls the navigate method on click, which will use the Router to navigate -->
        <a (click)="navigate(tab.link)">{{ tab.name }}</a>
      </li>
    </ul>
  </nav>
  
  
</header>

<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<!-- Main container to hold the routed content -->
<div class="container">
  <router-outlet></router-outlet>
</div>
