<!-- Header -->
<header class="app-header">
  <!-- Logo and App Name -->
  <div class="logo" (click)="goToHome()">
    <img src="assets/logo.png" alt="Logo" class="logo-img">
  </div>
  
  <!-- Search Bar -->
  <div class="search-container">
    <input type="text" class="search-bar" placeholder="Căutați un loc..." />
  </div>

  <!-- Login Button -->
  <div class="login-container" *ngIf="!isLoggedIn">
    <button class="login-btn" (click)="goToLogin()">Log In</button>
  </div>

  <!-- Logout Button -->
  <div class="login-container" *ngIf="isLoggedIn">
    <button class="login-btn" (click)="goToLogout()">Log Out</button>
  </div>

  <!-- Profile Image as Button -->
  <div class="profile-container" *ngIf="isLoggedIn">
    <img src="assets/profile-icon.png" alt="Profile" class="profile-img" (click)="goToProfile()">
  </div>
  
</header>

<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

<!-- Main container to hold the routed content -->
<div class="container">
  <router-outlet></router-outlet>
</div>
