<div fxLayout="row">
    <div fxFlex="50%" fxLayout="column">
        <mat-list>
            <mat-list-item>
                <span class="label">Firebase {{isConnected ? "connected" : "disconnected"}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-button color="primary" class="full-w" (click)="connectFirebase()">Connect</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-button color="primary" class="full-w" (click)="addListItem()">Add
                    entry</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-button color="primary" class="full-w" (click)="removeItems()">Clear entries</button>
            </mat-list-item>
        </mat-list>
    </div>
    <div fxFlex="50%" fxLayout="column" class="scrollable">
        <mat-list>
            <mat-list-item>
                <span class="label">Database entries</span>
            </mat-list-item>
            <mat-list-item *ngFor="let item of listItems">
                <span>{{item.val}}</span>
            </mat-list-item>
        </mat-list>
    </div>
</div>