<div fxLayout="row">
    <div fxFlex="50%" fxLayout="column">
        <mat-list>
            <mat-list-item>
                <span class="label">Firebase {{isConnected ? "connected" : "disconnected"}}</span>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-button color="primary" class="full-w" (click)="connectFirebase()">Connect</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-button color="primary" class="full-w" (click)="addNewUser()">Add new
                    user</button>
            </mat-list-item>
        </mat-list>
    </div>
</div>